.root {
    &.embedded {
        padding: 0;
        border-radius: var(--roundedSmall);
    }

    tbody tr:not(.empty):hover {
        background: var(--hoverPurple);
        cursor: pointer;
    }
}

.moreActions {
    color: var(--textSecondary);
}
