.root {
    &.embedded {
        padding: 0;
        border-radius: var(--roundedSmall);
    }

    .clickableRow {
        cursor: pointer;

        &:hover {
            background: var(--hoverPurple);
        }
    }
}

.moreActions {
    color: var(--textSecondary);
}
