.bar {
    &.active {
        background: var(--color-secondary-light);
        box-shadow: 0 0 64px 8px var(--color-secondary-light);
        transform: scaleY(1.3);

        & + div {
            background: rgba(83, 174, 168, 0.5);
            box-shadow: 0 0 4px 2px rgba(83, 174, 168, 0.1);
            transform: scaleY(1.1);
        }
    }

    &:has(+ .active) {
        background: rgba(83, 174, 168, 0.5);
        box-shadow: 0 0 4px 2px rgba(83, 174, 168, 0.1);
        transform: scaleY(1.1);
    }
}
