@reference "../../../lib/css/global.css";

.bar {
    &.active {
        background: var(--color-secondary-light);
        box-shadow: 0 0 8px 4px
            rgb(from var(--color-secondary-light) r g b / 0.6);

        & + div {
            background: rgb(from var(--color-secondary-light) r g b / 0.5);
        }
    }

    &:has(+ .active) {
        background: rgb(from var(--color-secondary-light) r g b / 0.5);
    }
}

.cube {
    transform: rotateX(-35deg) rotateY(0deg);

    &.animated {
        animation: cube-animation 3s linear infinite;
    }

    .face {
        &:nth-child(1) {
            transform: rotateY(0deg) translateZ(5px);
        }

        &:nth-child(2) {
            transform: rotateY(90deg) translateZ(5px);
        }

        &:nth-child(3) {
            transform: rotateY(180deg) translateZ(5px);
        }

        &:nth-child(4) {
            transform: rotateY(-90deg) translateZ(5px);
        }

        &:nth-child(5) {
            transform: rotateX(90deg) translateZ(5px);
        }

        &:nth-child(6) {
            transform: rotateX(-90deg) translateZ(5px);
        }
    }
}

@keyframes cube-animation {
    from {
        transform: rotateX(-35deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-35deg) rotateY(360deg);
    }
}
