.root {
    display: inline-flex;
    height: calc(4 * var(--unit));
    align-items: center;
    justify-content: center;
    padding: 0 calc(2 * var(--unit));
    border: none;
    border-radius: var(--roundedFull);
    background: var(--surface);
    color: var(--text);
    cursor: pointer;
    font: 500 var(--fontSizeSm) var(--fontPrimary);
    gap: var(--unit);
    text-decoration: none;
    text-transform: capitalize;
    transform: none;
    transition: background 200ms var(--fastOutSlowIn);
    user-select: none;
    white-space: nowrap;

    &:hover:not(.disabled) {
        background: var(--surfaceLight);
    }

    &:active:not(.disabled) {
        transform: scale(0.98);
    }

    &.light:not(.disabled) {
        background: var(--surfaceLight);

        &:hover {
            background: var(--surfaceLighter);
        }
    }

    &.disabled {
        background: var(--surfaceDisabled);
        color: var(--textDisabled);
        cursor: not-allowed;
    }
}
