.root {
    --height: calc(4.5 * var(--unit));
    position: relative;
    display: flex;
    height: var(--height);
    align-items: center;
    padding: 0 calc(2 * var(--unit));
    border-radius: calc(var(--height) / 2);
    background: var(--surface);
}
