.root {
    width: 100%;
    max-width: var(--pageMaxWidth);
    padding-right: calc(4 * var(--unit));
    padding-left: calc(4 * var(--unit));
    margin-right: auto;
    margin-left: auto;

    &.narrow {
        max-width: var(--pageNarrowWidth);
    }
}
