@reference "../../lib/css/global.css";

.link {
    width: 15px;
    height: 15px;
    line-height: 1;
}

.block {
    @apply bg-neutral-main ease-fast-out-slow-in inline-block rounded-xs;
    @apply transition-[background] duration-200 select-none hover:bg-neutral-800;
    width: 15px;
    height: 15px;

    &.signed {
        @apply bg-success-light hover:bg-success-main;
    }

    &.missed {
        @apply bg-destructive-light hover:bg-destructive-main;
    }
}
