.root {
    display: flex;
    flex-direction: column;
    padding: calc(3 * var(--unit));
    border-radius: var(--rounded);
    backdrop-filter: blur(var(--blurLarge));
    background: var(--surface);
    gap: calc(2 * var(--unit));
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    margin: 0;
    font-size: var(--fontSize2Xl);
    font-weight: 500;
    text-transform: capitalize;
}

.actions {
    color: var(--textSecondary);
}

.table {
    flex: 1;
    border-collapse: collapse;
}

.footer {
    padding-top: calc(2 * var(--unit));
    border-top: 1px solid var(--surfaceLighter);
    margin-top: calc(-2 * var(--unit));
    color: var(--textSecondary);
    font-size: var(--fontSizeXs);
}
