.root {
    .view {
        --viewGradientStartColor: rgba(193, 166, 204, 0.25);
        --viewGradientStopColor: rgba(193, 166, 204, 0.025);
    }
}

.copyToClipboard {
    margin-right: -2px;
}

.icon {
    color: var(--text);
}

.link {
    display: inline-flex;
    align-items: center;
    color: inherit;
    gap: calc(0.5 * var(--unit));
    text-decoration: none;
    transition: color 200ms var(--fastOutSlowIn);

    &:hover {
        color: var(--text);
    }
}

.link2 {
    margin-left: 4px;
}

.fee {
    color: var(--negativeLight);
}
