.root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: 1px solid transparent;
    border-radius: var(--roundedSmall);
    cursor: pointer;
    transition: background 200ms var(--fastOutSlowIn);

    &.small {
        padding: 2px;
    }

    &.copied {
        animation: copiedAnimation 500ms var(--fastOutSlowIn) forwards;
    }

    &:hover {
        background: var(--surfaceLight);
    }
}

@keyframes copiedAnimation {
    from {
        border-color: var(--surfaceLighter);
    }

    to {
        border-color: transparent;
    }
}
