.root.clickable {
    cursor: pointer;
    transition: background 200ms var(--fastOutSlowIn);

    &:hover {
        background: var(--surface);
    }
}

thead .root {
    border-bottom: 1px solid var(--surfaceLighter);
}
