.root {
    &:not(:last-child) {
        border-bottom: 1px solid var(--surfaceLighter);
    }

    &:hover {
        background: var(--hoverGreen);
    }
}

.link {
    display: flex;
    height: calc(4 * var(--unit));
    align-items: center;
    padding: 0 var(--unit);
    color: inherit;
    gap: calc(0.5 * var(--unit));
    text-decoration: none;
}
