.root {
    position: relative;
    width: 631px;
}

.icon {
    position: absolute;
    z-index: var(--zIndexOverlay);
    top: 50%;
    left: calc(2 * var(--unit));
    stroke: var(--textSecondary);
    transform: translateY(-50%);
    transition: stroke 200ms var(--fastOutSlowIn);

    &:hover {
        cursor: pointer;
        stroke: var(--text);
    }
}

.input {
    width: 100%;
    padding: calc(2 * var(--unit));
    padding-left: calc(5.5 * var(--unit));
    border: none;
    border-radius: var(--roundedSmall);
    backdrop-filter: blur(var(--blurLarge));
    background: var(--surface);
    color: var(--textSecondary);
    font: var(--fontPrimary) var(--fontSizeBase);
    outline: solid 2px transparent;
    transition: outline 200ms ease-in;

    &:focus {
        outline-color: var(--textSecondary);
        transition: none;
    }
}
