.root {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    left: calc(2 * var(--unit));
    stroke: var(--textSecondary);
    transform: translateY(-50%);
    transition: stroke 200ms var(--fastOutSlowIn);

    &:hover {
        cursor: pointer;
        stroke: var(--text);
    }
}

.input {
    width: 631px;
    padding: calc(2 * var(--unit));
    padding-left: calc(5.5 * var(--unit));
    border: none;
    border-radius: var(--roundedFull);
    background: var(--surface);
    color: var(--textSecondary);
    font: var(--fontPrimary) var(--fontSizeBase);

    &:focus {
        outline: solid 2px var(--textSecondary);
    }
}
