.root {
    position: relative;
    width: 631px;
}

.icon {
    position: absolute;
    top: 50%;
    left: calc(2 * var(--unit));
    stroke: var(--textSecondary);
    transform: translateY(-50%);
    transition: stroke 200ms var(--fastOutSlowIn);

    &:hover {
        cursor: pointer;
        stroke: var(--text);
    }
}

.input {
    width: 100%;
    padding: calc(2 * var(--unit));
    padding-left: calc(5.5 * var(--unit));
    border: none;
    border-radius: var(--roundedFull);
    background: var(--surface);
    color: var(--textSecondary);
    font: var(--fontPrimary) var(--fontSizeBase);
    transition: outline 200ms var(--fastOutSlowIn);

    &:focus {
        outline: solid 2px var(--textSecondary);
    }
}

.results {
    position: absolute;
    z-index: 1;
    top: calc(8 * var(--unit));
    width: 100%;
    height: 276px;
    padding: calc(3 * var(--unit));
    border: 1px solid var(--surfaceLighter);
    border-radius: var(--roundedSmall);
    backdrop-filter: blur(var(--blurXl));
    background: rgba(34, 99, 98, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms var(--fastOutSlowIn);

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
}
