.root {
    position: absolute;
    z-index: var(--zIndexOverlay);
    top: calc(8 * var(--unit));
    display: flex;
    width: 100%;
    max-height: 276px;
    flex-direction: column;
    padding: calc(3 * var(--unit));
    border: 1px solid var(--surfaceLighter);
    border-radius: var(--roundedSmall);
    backdrop-filter: blur(var(--blurFull));
    background: rgba(34, 99, 98, 0.1);
    gap: calc(2 * var(--unit));
}

.title {
    margin: 0;
    color: var(--textSecondary);
    font-size: var(--fontSizeXs);
    font-weight: 400;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font: 500 var(--fontSizeSm) var(--fontMono);
    list-style: none;

    li {
        &:not(:last-child) {
            border-bottom: 1px solid var(--surfaceLighter);
        }

        &:hover {
            background: rgba(83, 174, 168, 0.15);
        }

        a {
            display: flex;
            height: calc(4 * var(--unit));
            align-items: center;
            padding: 0 var(--unit);
            color: inherit;
            gap: calc(0.5 * var(--unit));
            text-decoration: none;
        }
    }
}
