.root {
    display: grid;
    height: calc(9.5 * var(--unit));
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.group {
    display: flex;
    align-items: center;
    gap: var(--unit);

    &:last-child {
        justify-self: flex-end;
    }
}

.tabs {
    justify-self: center;
}

.search {
    display: flex;
    height: calc(4 * var(--unit));
    align-items: center;
    padding: 0 calc(2 * var(--unit));
    border-radius: var(--roundedFull);
    backdrop-filter: blur(var(--blurLarge));
    background: var(--surfaceLight);
    cursor: pointer;
    font-size: var(--fontSizeSm);
    font-weight: 500;
    gap: calc(0.5 * var(--unit));
    transition: background 200ms var(--fastOutSlowIn);

    &:hover {
        background: var(--surfaceLighter);
    }
}

.searchModal {
    align-items: flex-start;
    padding-top: calc(14 * var(--unit));
}
